<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="
  default-src 'none';                                  <!-- Default sources are disabled -->
  script-src 'self' https://giraffeblog.goatcounter.com 'unsafe-inline'; <!-- Scripts allowed from 'self' and specific external domain -->
  style-src 'self' https://fonts.googleapis.com;       <!-- Styles allowed from 'self' and Google Fonts -->
  img-src 'self';                                      <!-- Images allowed from 'self' -->
  font-src 'self' https://fonts.gstatic.com;           <!-- Fonts allowed from 'self' and Google Fonts -->
  connect-src 'self' https://formspree.io https://giraffeblog.goatcounter.com; <!-- Allowed connections to 'self', Formspree, and GoatCounter -->
  media-src 'self';                                    <!-- Media allowed from 'self' -->
  object-src 'self';                                   <!-- Objects allowed from 'self' -->
  child-src 'self';                                    <!-- Child resources allowed from 'self' -->
  form-action 'self' https://formspree.io;             <!-- Form actions allowed from 'self' and Formspree -->
  base-uri 'self';                                     <!-- Base URI allowed from 'self' -->
">
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
    <script data-goatcounter="https://giraffeblog.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
